// MAIN
main {
    margin: 30px 0;
}

// solutions
.solutions {
    padding: 35px 0;
    background-image: $brand-second-color;  

    .first {
        padding-bottom: 70px;
        border-bottom: 1px solid;
        color: white;
    }

        h4 {
            text-align: center;
            color: white
        }

        .pictures {
            @include flexbox;
            justify-content: space-around;
            padding: 40px 0;

            img {
                width: 120px;
                background-color: white;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 5px 2px rgb(72, 0, 139);
            }
        }

        .rabbit {
            margin: auto;
            width: 20%;
        }

    .second {
        padding: 70px 0;
        color: white;

        .pictures {

            div {
                @include flexbox;
                flex-direction: column;
            }

            span {
                font-size: 11px;
                padding-top: 15px;
            }

            div:last-child img {
            width: 80px;
            }
        }
        
        
    }
        
}

// feedback
.feedback {
    padding: 30px 0;

    .single-quest {
        @include flexbox;
        align-items: flex-start;
        margin-bottom: 35px;

        .screen {
            width: 50%;
        }
        
        .learn-more {
            width: 50%;
            @include flexbox;
            
            .info {
                width: 50%;

                p {
                    padding-top: 50px;
                    font-size: 15px;
                    padding-bottom: 25px;
                }

                a {
                    font-size: 13px;
                    text-decoration: none;
                }

                div {
                    margin-top: 20px;
                }

            }

            .info.right {
                margin-left: 50%;
            }
        }
    }


}

// founders
.founders {
    padding: 35px 0;
    background-image: $brand-second-color;  
    color: white;

    h2 {
        text-align: center;
        font-size: 28px;

        img {
            width: 25px;
            display: inline-block;
        }
    }

    .text {
        margin: auto;
        color: darkblue;
        background-color: white;
        box-shadow: 0 0 5px 2px rgb(72, 0, 139);
        border-radius: 10px;
        padding: 10px 15px;
        width: 55%;
        margin-top: 35px;
        margin-bottom: 35px;

        p {
            font-size: 11px;
            margin-bottom: 15px;
        }

        .photos {
            @include flexbox;

            img {
                width: 50px;
                margin-right: 20px;
            }

            h5 {
                color: #2e4790;
            }
        }
  

    }

    .btn-connect {
        justify-content: center;

    }

    .email {
        text-align: center;
    }
    
    span {
        font-size: 11px;
    }

}

@media screen and (max-width: $breakpoint-tablet) {

    .feedback {

        .single-quest {
            display: block;
            
            .screen {
                width: 100%;
            }

            .learn-more {
                width: 100%;
            }

        }
    }

    .solutions {

        .rabbit {
            width: 80%;
        }
    }
}